# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

function mde() {
  mkdir -p "$@" && cd "$@" && touch index.html && cd ../
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

import-modules () {
  echo '// - - - - - - - - - - - - - - - - - - -' > _modules.scss
  echo '// - - modules' >> _modules.scss
  echo '// add new modules here' >> _modules.scss
  echo '' >> _modules.scss

  for file in *.scss
  do
    echo '@import "'$file'";' | sed s/_// | sed s/.scss// | grep -v 'modules' | sort >> _modules.scss
  done
}

svgo_all () {
  for file in *.svg
  do
    svgo $file
  done
}
